<nav>
    <div class="nav-wrapper">
        <a class="brand-logo left">YouFly Airlines</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li *ngIf="isAdmin"><a *ngIf="isAdmin" routerLink="ManageUsers" routerLinkActive="active"><i class="material-icons left"></i>Users</a></li>
            <li><a routerLink="flights" routerLinkActive="active"><i class="material-icons left">cloud</i>Flights</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>
<ul id="dropdown1" class="dropdown-content">
    <li *ngIf="!isLoggedIn"><a *ngIf="!isLoggedIn" class="modal-trigger" (click)="openModal()">Login</a></li>
    <li *ngIf="!isLoggedIn"><a *ngIf="!isLoggedIn" class="modal-trigger" (click)="openResisterModal()">Register</a></li>
    <li class="divider"></li>
    <li *ngIf="isLoggedIn"><a (click)="onLogoutClicked()" [routerLink]="['/flights']">Logout</a></li>
</ul>
<router-outlet></router-outlet>
<div id="modal" class="modal" materialize="modal">
    <div class="modal-content">
        <form (ngSubmit)="submitLogin(Username.value, Password.value)">
            <div class="section no-pad-bot" id="index-banner" align="center">
                <div class="container">

                    <div class="row center">
                        <h3 class="header">Login</h3>
                    </div>
                    <label>
                    <div class="input-field col s12">
                        <input id="username" type="text" #Username class="validate" required="required"/>
                         <label for="username">Email Address</label>
                                </div>
                                <br>
                                <div class="input-field col s12">
                                    <input id="password" type="password" #Password class="validate" required="required" />
                                    <label for="password">Password</label>
                                </div>
                                </label>
                                <br>
                                <div class="row center">
                                    <button type="submit" class="modal-action waves-effect waves-green btn">Submit </button>
                                </div>
                            </div>
                    </div>
          <h6 class="center-align red-text">{{errorMessage}}</h6>
    </form>
</div>
</div>
<div id="registerModal" class="modal" materialize="modal">
    <div class="modal-content">
        <form (ngSubmit)="submitNewAccount(email.value, NewPass.value, cfmpassword.value, Fname.value, Lname.value)">

            <div class="section no-pad-bot" id="index-banner2" align="center">
                <div class="container">
                    <div class="row center">
                        <h3 class="header">Create Account</h3>
                    </div>
    <div class="input-field col s12">
      <div class="row">
        <div class="input-field col s6">
          <input style="display: inline-block;" id="Fname" type="text" #Fname class="validate" required="required"/>
          <label for="Fname">First Name</label>
        </div>
        <div class="input-field col s6">
          <input style="display: inline-block;" id="Lname" type="text" #Lname class="validate" required="required"/>
          <label for="Lname">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="text" #email class="validate" required="required"/>
           <label for="email">Email Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <input id="NewPass" name="NewPass" type="password" #NewPass class="validate" required="required" />
            <label for="NewPass">Password</label>
        </div>
        <div class="input-field col s6">
            <input id="cfmpassword" name="cfmpassword" type="password" #cfmpassword class="validate" required="required" />
            <label for="cfmpassword">Re-Enter Password</label>
        </div>
      </div>
      <div class="row center">
          <button type="submit" class="modal-action modal-close waves-effect waves-light btn">Enter</button>
      </div>
    </div>
                </div>
            </div>
    </form>
</div>
</div>
