<div id="responsive" class="section scrollspy center-align">
  <h2 class="header" style="margin-bottom: 40px;">Manage Users</h2>
  <div class="row" *ngIf="!isLoading">
    <div class="col s1"></div>
    <div class="col s10 center-align">
      <table class="responsive-table centered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Is Admin</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.firstName}}</td>
          <td>{{user.email}}</td>
          <td>
            <div class="switch">
            <label>
              No
              <input (click)="onAdminClicked(user)" *ngIf="user.isAdmin" checked type="checkbox">
              <input (click)="onAdminClicked(user)" *ngIf="!user.isAdmin" type="checkbox">
              <span class="lever"></span>
              Yes
            </label>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col s1"></div>
  </div>
  <app-loader *ngIf="isLoading"></app-loader>
</div>
