<div class="section no-pad-bot" id="index-banner" align="center">
    <div class="container">
        <br>
        <div class="row center">
            <h4 class="header"id = "history">Flight History: </h4>
             
        </div>
    </div>
</div>