<form *ngIf="!isLoading" (ngSubmit)="submitFlight(To.value, From.value)">
    <div class="section no-pad-bot" id="index-banner" align="center">
        <div class="container">
            <br>
            <div class="row center">
                <h3 class="header">Search Flights</h3>
            </div>
            <label>
    <div class="input-field col s12">
        <input id="From" type="text" #From class="validate" required="required"/>
         <label for="From">City or Airport of Departure</label>
        </div>
        <div class="input-field col s12">
            <input id="To" type="text" #To class="validate" required="required" />
            <label for="To">City or Airport of Arrival</label>
        </div>
        </label>
        <br>
        <div class="row center">
            <button type="submit" class="waves-effect waves-light btn">Search</button>
        </div>
    </div>
    </div>

  <h4 class="center-align red-text">{{messageToShow}}</h4>
</form>
<app-loader *ngIf="isLoading"></app-loader>
