<form (ngSubmit)="submitNewFlight(Departing.value, Arriving.value, DeptDate.value, ArrDate.value, DeptTime.value, ArrTime.value, FClass.value,
Business.value, PriceBusiness.value, PriceFClass.value)">
      <div class="section no-pad-bot" id="index-banner" align="center">
        <div class="container">

          <div class="row center">
            <h3 class="header">Add Flight</h3>
          </div>

  <div class="row">
        <div class="input-field col s6">
          <input id="Departing" type="text" #Departing class="validate">
          <label for="Departing">Initials of Departing Airport</label>
        </div>
        <div class="input-field col s6">
          <input id="Arriving" type="text" #Arriving class="validate">
          <label for="Arriving">Initials of Arriving Airport</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class = "center">
            <div class="col s6">
              <label>Departure Date:</label>
              <input type="date" id = "DeptDate" #DeptDate class="datepicker">
            </div>
            <div class="col s6">
              <label>Arriving Date:</label>
              <input type="date" id = "ArrDate" #ArrDate class="datepicker">
            </div>

        <div class= "col s6">
        <label>Departing Time</label>
          <input type="time" id = "DeptTime" #DeptTime name="DepTime">
        </div>
          <div class= "col s6">
            <label>Arrival Time</label>
            <input type="time" id = "ArrTime" #ArrTime name="ArrTime">
          </div>
      </div>
      </div>
          <div class = "row">
            Number of Seats:
            <div class= "center">
              <div class="input-field col s6">
                <input id="FClass" type="number" #FClass class="validate">
                <label for="FClass">First Class</label>
              </div>
                <div class="input-field col s6">
                  <input id="Buisness" type="number" #Business class="validate">
                  <label for="Buisness">Business</label>
                </div>
              </div>
          </div>
          <div class = "row">
            Price Per Seat:
            <div class= "center">
              <div class="input-field col s6">
                <input id="PriceFClass" type="text" #PriceFClass class="validate">
                <label for="PriceFClass">First Class</label>
              </div>
              <div class="input-field col s6">
                <input id="PriceBuisness" type="text" #PriceBusiness class="validate">
                <label for="PriceBuisness">Business</label>
              </div>
            </div>
          </div>
      <div class="row center">
        <button type="submit" class="waves-effect waves-light btn">Create</button>
      </div>
  </div>
  </div>
</form>

