<form *ngIf="!isLoading" (ngSubmit)="submitCheckOut(fclass.value, buisness.value, total.value)">
    <div class="section no-pad-bot" id="index-banner" align="center">
        <div class="container">
            <br>
            <div class="row left">
                <h5 class="header" style="display: inline-block;">{{fromAirport.airportName}}</h5>
                <i class="small material-icons">trending_flat</i>
                <h5 class="header" style="display: inline-block;"> {{toAirport.airportName}} </h5>
            </div>

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row center">
                <h5 class="header">Seats: </h5>
                <br>
                <h5 class="header" style="display: inline-block;">First class: <input type="number" id="fclass" value="0" min="0"> </h5>
                <h5 class="header" style="display: inline-block;">Buisness: <input type="number" id="buisness" value="0" min="0"> </h5>
            </div>
            <div class="row right">
                <h5 class="header" id="total">Total: </h5>
            </div>
            <br>
            <br>
            <br>
          <a *ngIf="!isLoggedIn"><a *ngIf="!isLoggedIn">*Must be signed in*</a></a>
          <ng-container *ngIf="isLoggedIn">
          <button type="submit" class="waves-effect waves-light btn">Check Out</button>
          </ng-container>
        </div>
    </div>
</form>
<app-loader *ngIf="isLoading"></app-loader>
