<form (ngSubmit)="submitNewAccount(email.value, password.value)">

    <div class="section no-pad-bot" id="index-banner" align="center">
        <div class="container">
            <br>
            <div class="row center">
                <h3 class="header">Create Account</h3>
            </div>
            <label>
    <div class="input-field col s12">
        <input id="email" type="text" #email class="validate" required="required"/>
         <label for="email">Email Address</label>
        </div>
        <div class="input-field col s12">
            <input id="password" name="password" type="password" #password class="validate" required="required" />
            <label for="password">Password</label>
        </div>
        </label>
        <div class="input-field col s12">
            <input id="cfmpassword" name="cfmpassword" type="password" #cfmpassword class="validate" required="required" />
            <label for="cfmpassword">Re-Enter Password</label>
        </div>
        <div class="row center">
            <button type="submit" class="waves-effect waves-light btn">Enter</button>
        </div>

    </div>
    </div>
</form>
